
.noselect {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
#modal_aquireinfo{

    background-color: var(--colour-a3);
}
.hideModal{
    display: none;
}
.showModal{
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0px;
    top: 0px;

}
.hor{
    display: flex;
    flex-flow: row nowrap;
    width: 80%;
    align-items: center;
    justify-content: space-around;

}

input{
    background-color: transparent;
    border: transparent;
    color: #ECF0F1;
    border-bottom: solid 1px #ECF0F1;
    width: 300px;
    text-align: center;
}

#mini-clndr {
    font-family: Asap, Helvetica, Arial;
    --cal-width: 707px;
    --cal-height: 498px;
    --day-width: 100px;
    margin: 0 auto;
    width: var(--cal-width);
    box-shadow: 0 0 0 #040404;
}
#mini-clndr .clndr {
    overflow: hidden;
    border-bottom: 0px solid var(--colour-nav);
}
#mini-clndr .clndr .controls {
    background-color: var(--colour-nav);
    color: white;
}
#mini-clndr .clndr .controls .clndr-previous-button,
#mini-clndr .clndr .controls .clndr-next-button {
    width: 15%;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
#mini-clndr .clndr .controls .clndr-previous-button:hover,
#mini-clndr .clndr .controls .clndr-next-button:hover {
    background-color: var(--colour-nav);
}
#mini-clndr .clndr .controls .month {
    width: 70%;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}
#mini-clndr .clndr .days-container {
    position: relative;
    width: var(--cal-width);
    height:var(--cal-height);
}
#mini-clndr .clndr .days-container .days {
    position: absolute;
    left: 0;
    width: var(--cal-width);
    height: var(--cal-height);
    background-color: #dedede;
}
#mini-clndr .clndr .days-container .days .day,
#mini-clndr .clndr .days-container .days .empty {
    width: var(--day-width);
    display: inline-block;
    padding-top: 25px;
    padding-bottom: 24px;
    font-size: 24px;
    text-align: center;
    color: #212121;
    border-right: 1px solid rgba(255,255,255,0.5);
    border-bottom: 1px solid rgba(255,255,255,0.5);
}
#mini-clndr .clndr .days-container .days .day.event,
#mini-clndr .clndr .days-container .days .empty.event {
    background-color: #c5c5c5;
    cursor: pointer;
}
#mini-clndr .clndr .days-container .days .day.event:hover,
#mini-clndr .clndr .days-container .days .empty.event:hover {
    background-color: #ababab;
}
#mini-clndr .clndr .days-container .days .day.adjacent-month,
#mini-clndr .clndr .days-container .days .empty.adjacent-month {
    color: rgba(0,0,0,0.3);
}
#mini-clndr .clndr .days-container .days .empty {
    height: 31px;
    vertical-align: bottom;
}
#mini-clndr .clndr .days-container .days .headers {
    background-color: var(--colour-a2);
    padding-top: 5px;
    padding-bottom: 5px;
}
#mini-clndr .clndr .days-container .days .headers .day-header {
    width: var(--day-width);
    display: inline-block;
    text-align: center;
    color: white;
}
#mini-clndr .clndr .days-container .events {
    position: absolute;
    left: var(--cal-width);
    width: var(--cal-width);
    height: var(--cal-height);
    background-color: #dedede;
}
#mini-clndr .clndr .days-container .events .headers {
    position: relative;
}
#mini-clndr .clndr .days-container .events .event-header {
    width: 100%;
    background-color: var(--colour-a2) ;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    color: white;
}
#mini-clndr .clndr .days-container .events .x-button {
    position: absolute;
    font-size: 80%;
    top: 7px;
    left: 20px;
    cursor: pointer;
}
#mini-clndr .clndr .days-container .events .x-button:hover {
    color: white;
}
#mini-clndr .clndr .days-container .events .events-list {
    overflow: scroll;
    height: 500px;
}
#mini-clndr .clndr .days-container .events .events-list .event {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    border-bottom: 1px solid rgba(255,255,255,0.5);
}
#mini-clndr .clndr .days-container .events .events-list .event:hover {
    background-color: #e8e8e8;
}
#mini-clndr .clndr .days-container .events .events-list .event a {
    position: relative;
    font-size: 12px;
    letter-spacing: 1px;
    background-color: transparent;
    color: #212121;
    text-decoration: none;
}
#mini-clndr .clndr .days-container .events .events-list .event a:hover {
    background-color: transparent;
    color: var(--colour-nav);
}
#mini-clndr .clndr .days-container.show-events .days {
    left: - var(--cal-width);
}
#mini-clndr .clndr .days-container.show-events .events {
    left: 0;
}
