/* Variable declarations */

html {
    --colour-nav: #2C3E50;
    --colour-accent: #E74C3C;
    --colour-light: #ECF0F1;
    --colour-a2: #3498DB;
    --colour-a3: #2980B9;
}

/* Index page styles */

.tiles {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 50px;
    width: 90vw;
    height: 90vh;
    padding: 5vh 5vw;
}

.tile {
    display: flex;
    border: 1px solid var(--colour-light);
    background-color: var(--colour-a2);
    justify-content: center;
    align-items: center;
    color: var(--colour-light);
}

/*  Project-wide styles */

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-size: 100%;
    overflow: hidden;
    background-color: var(--colour-a3);
}

ul {
    padding-left: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

.btn {
    border-radius: 3px;
    color: #ffffff;
    background: var(--colour-a2);
    padding: 10px 20px 10px 20px;
    border: 0px solid black;
    align-content: center;
    text-align: center;
}

.btn:hover {
    background: #999;
}

.btn-accent {
    border-radius: 3px;
    color: #ffffff;
    background: var(--colour-accent);
    padding: 10px 20px 10px 20px;
    border: 0px solid black;
    align-content: center;
    text-align: center;
}

.btn-accent:hover {
    background: #999;
}

/* Side menu and related elements */

.side-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100vh;
    background-color: var(--colour-nav);
    z-index: 99;
}

.menu-item {
    display: block;
    width: 90%;
    padding: 10px 5%;
    color: var(--colour-light);
    text-decoration: none;
    border-bottom: 1px solid var(--colour-light);
}

.menu-selected {
    color: var(--colour-accent);
}

.menu-close {
    margin: 0;
    text-align: right;
    font-size: 3rem;
    cursor: pointer;
}

.menu-open {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: var(--colour-light);
}
