/* The list of notes to display and their contents */

.note-list {
    display: block;
    width: 300px;
    height: 90vh;
    margin: auto;
    overflow-y: scroll;
}

.note-list::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.note {
    background-color: var(--colour-light);
    padding: 10px;
    margin: 10px auto;
}

.note-text {
    color: black;
}

.note-date {
    color: grey;
}

/* The inputs and buttons that allow for note creation */

.note-controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 8vh;
}

.note-text-input {
    width: 30vw;
    color: var(--colour-light);
    background-color: transparent;
    border: transparent;
    border-bottom: solid 1px var(--colour-light);
}

.note-text-input::placeholder {
    color: var(--colour-light);
}
